# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# html files in general
**/*.html

# data

data/*

# Quarto scratch/cache directory
/.quarto/
**/*.quarto_ipynb

# outputs
**/outputs/*
!**/outputs/*/.gitkeep

# uv
uv.lock

# init script

init.sh